<!DOCTYPE html>
<html>
<body background="imgs/blue_city.jpg">
<head>
	<link href ="main.css" rel="stylesheet" type="text/css"/>
<div class="bloghead" align="center"> 
	<h1>Blogs</h1>
</div>
</head>
<body>
<div class="table" align="center">
	<table style="width:100%" table style="length:100%">
		<tr>
			<td>
			<a href="week1blogs.html"> <font-family: Georgia, Serif;><h2>week 1 blogs</h2></a></td>
			<td>
			<a href="week2blogs.html"><font-family: Georgia, Serif;><h2>week 2 blogs</h2></a></td>
			<td>
			<a href="week3blogs.html"> <font-family: Georgia, Serif;><h2>week 3 blogs</h2></a></td>
			<td>
			<a href="week4blogs.html"> <font-family: Georgia, Serif;><h2>week 4 blogs</h2></a></td>
			<td>
			<a href="week5blogs.html"> <font-family: Georgia, Serif;><h2>week 5 blogs</h2></a></td>
			<td>
			<a href="week6blogs.html"> <font-family: Georgia, Serif;><h2>week 6 blogs</h2></a></td>
			<td>
			<a href="week7blogs.html"> <font-family: Georgia, Serif;><h2>week 7 blogs</h2></a></td>
			<td>
			<a href="week8blogs.html"> <font-family: Georgia, Serif;><h2>week 8 blogs</h2></a></td>
			<td>
			<a href="asking_good_questions.html"> <font-family: Georgia, Serif;><h2>Asking Good Questions</h2></a></td>
			<td>
			<a href="contacts.html"> <font-family: Georgia, Serif;><h2>Contact Info</h2></a></td>
		</div>
	<div class="return_home">
		<a target="_top" href="index.html" class="return_home"><img src="imgs/home_button.jpg" width="50">
			</a><br>
		</div>
</body>




</html>