<!DOCTYPE html>
<html>

<head>
	<link href ="main.css" rel="stylesheet" type="text/css"/>
<div class="bloghead" align="center"> 
	<h1>Blogs</h1>
</div>
</head>
<body>
<div class="table" align="center">
	<table style="width:75%" table style="length:75%">
		<tr>
			<td>
			<a href="blogs.html"> <font-family: Georgia, Serif;><h2>Phase 0 Blogs</h2></a></td>
			<td>
			<a href="index.html"> <font-family: Georgia, Serif;><h2>Home</h2></a></td>
			<td>
			<a href="contacts.html"> <font-family: Georgia, Serif;><h2>Contact Info</h2></a></td>
		</div>
</body>




</html>