<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="homepage_css.css">
</head>
<header>
	<div class="Keenans_Cheat-Sheet">
		<p align= "center">Keenan's DBC site<p>
		<p align= "center">phase 0</p>
	</div>
</header>



<body1>

	<div class= "centertext">
		<h1 class="Ruby" align="center">
			<span class="center_h1"> Ruby </span>
		</h1>

<body>

<div ="dice_ruby">
	<h2> Dice Code </h2>
	<p>
	<img src="dicemethod.jpg" height="300">
	</p></div>

<div class="grade_ruby">
	<h2> Grading Program </h2>
	<p>
		<img src="gradingmethod.jpg" height="450">
	</p></div>

<div class="Addcomma_ruby">
	<h2> Add Commas to Big Numbers </h2>
	<p>
		<img src="Add Commas.jpg" height="500">
	</p></div>


<div class="median_ruby">
	<h2> Calc the Median </h2>
	<p>
		<img src="Calc Median.jpg" height="280">
	</p></div>

<div class="padding_ruby">
	<h2> Pad and Pad! </h2>
	<p>
		<img src="Pad! Array.jpg" height="400">
	</p></div>



		
	</div>
</body1>