
<!DOCTYPE html>
<html>
<head></head>
<header>
<link href ="main.css" rel="stylesheet" type="text/css"/>
</header>



<body>

<div ="dice_ruby">
	<h2> Dice Code </h2>
	<p>
	<img src="dicemethod.jpg" height="300">
	</p></div>

<div class="grade_ruby">
	<h2> Grading Program </h2>
	<p>
		<img src="gradingmethod.jpg" height="450">
	</p></div>

<div class="Addit_ruby">
	<h2> Add Array Together </h2>
	<p>
		<img src="Add it up.jpg" height="400">
	</p></div>

<div class="Addcomma_ruby">
	<h2> Add Commas to Big Numbers </h2>
	<p>
		<img src="Add Commas.jpg" height="400">
	</p></div>

<div class="acctgrps_ruby">
	<h2> Formatting Account Groups of 4 </h2>
	<p>
		<img src="Account Groups.jpg" height="400">
	</p></div>

<div class="median_ruby">
	<h2> Calc the Median </h2>
	<p>
		<img src="Calc Median.jpg" height="400">
	</p></div>

<div class="padding_ruby">
	<h2> Pad and Pad! </h2>
	<p>
		<img src="Pad! Array.jpg" height="400">
	</p></div>









</body>
















</html>