<!DOCTYPE html>
<html>
<head><h1 align="center">Week 8 Blogs</h3>

  <div class="returnhome">
    <a href="index.html"> <h3 align="center"><font-family: Georgia, Serif;>Return Home</a></div>
<link href ="main.css" rel="stylesheet" type="text/css"/>

</head>

<body>
<body background="imgs/tma-chalkboard.jpg">


<div class="week01">
<h3>Technical Blog</h3></p>
<p>

 December 25, 2014</p>

Week 8, the first Blog
	<p> What is Rails.</p>

  <br> <p> Rails is a full-stack framework that emphasizes the use of well-known software engineering patterns and paradigms, including convention over configuration (CoC), don't repeat yourself (DRY), the active record pattern, and model view controller (MVC). David Heinemeier Hansson extracted Ruby on Rails from his work on Basecamp, a project management tool by 37signals (now a web application company). Hansson first released Rails as open source in July 2004, but did not share commit rights to the project until February 2005. In August 2006, the framework reached a milestone when Apple announced that it would ship Ruby on Rails with Mac OS X v10.5 "Leopard", which was released in October 2007.</p>

  <br> <p> Rails Strengths:

Rails is packed with features that make you more productive, with many of the following features building on one other.

	Metaprogramming : Other frameworks use extensive code generation from scratch. Metaprogramming techniques use programs to write programs. Ruby is one of the best languages for metaprogramming, and Rails uses this capability well. Rails also uses code generation but relies much more on metaprogramming for the heavy lifting.

	Active Record : Rails introduces the Active Record framework, which saves objects to the database. The Rails version of Active Record discovers the columns in a database schema and automatically attaches them to your domain objects using metaprogramming.

	Convention over configuration: Most web development frameworks for .NET or Java force you to write pages of configuration code. If you follow suggested naming conventions, Rails doesn't need much configuration.

	Scaffolding: You often create temporary code in the early stages of 	development to help get an application up quickly and see how major components work together. Rails automatically creates much of the scaffolding you'll need.

	Built-in testing: Rails creates simple automated tests you can then extend. Rails also provides supporting code called harnesses and fixtures that make test cases easier to write and run. Ruby can then execute all your automated tests with the rake utility.

	Three environments: Rails gives you three default environments: development, testing, and production. Each behaves slightly differently, making your entire software development cycle easier. For example, Rails creates a fresh copy of the Test database for each test run.</p>

  <br> <p> Rails, in a larger sense, is more than a software library and an API. Rails is the central project of a vast community that produces software libraries that simplify the task of building complex websites. Members of the Rails community share many core values, often use the same tools, and support each other with an informal network that is built on volunteerism. Overlapping the informal community is an economic network that includes jobs, recruiters, consulting firms, conferences, businesses that build websites with Rails, and investors that fund startups. Rails is popular among web startups, significantly because the pool of open source software libraries (RubyGems, or “gems”) makes it possible to build complex sites quickly.</p>

  <br> <p> </p>


  <p align="center">
  <br>  Cheers

  <br> Keenan Sturtevant
.</p></h3></div>




<div class="week02">
<p>
	<h3>Cultural Blog</h3>


<p>December 25, 2014</p>
<div class="week02">Week 8 Blog 2
	<br>
<p> Overcoming Challenges</p>

<p> I have the best answers for this topic, because my family and I have over come so much. However, I will stick to the most recent challenge. I am still in battle with it, and will be for the rest of my life. This challenge is still very present. </p>

<p> From the day I was born I have had the gluten allergy. But we would never know, mostly because we didn't know the signs. And the medical test did not exist. I, however, have always had medical issues. We could never put a finger on just what it was. But it "was" eating away at my insides.</p>

<p> So lets skip to 2012, when I graduated High School. My friends and I wanted to join the USMC and serve our country that has served us so well. However I failed the medical, they found bleeding in my stomach and the highest level of osteoarthritis that there was. I was crushed by the news, and still getting sicker. So we went to the doctors who took 38 bloods tests from me to find out what I was alergic to. And it turns out I am alergic to a lot. 3 pages of food printed in 12 pt font actually. </p>

<p> Because of these allergies, I have the bones of an very old man. And leaky gut, which allows things like alcohol and gluten to slip into my blood stream and react with more force to my body. This is dangerous, if I eat just a little gluten I get very sick and in pain. Also (but not really related) if I drink alcohol, I run the risk of having a direct link to my blood system. Which can lead to alcohol poisening and even death.</p>

<p> This has kept me from chasing my passion of serving, in the USMC, USAF, ARMY, and I even when to college and did what I had to do to join the police. Which ate up 3 years of my life, then I was told the my medical records will not allow me to finish the academy. This made me very sad and I didn't know what to do with myself. </p>

<p> Until now, with DBC I have a real chance at serving my country and even the world. I feel like God, or the universe (whatever you like), has shown me what to do. And I am so excited for it. </p>

<p> The point of the story is this, I have over come all these allergies and sicknesses. All my defeat, and sadness. And now I am ready to take my can do, problem solving additude and make the world a better place. One user at a time.</p>


	

 <p align="center">
  <br>  Cheers

  <br> Keenan Sturtevant
.</p></h3></div>





</body>






</html>