<!DOCTYPE html>
<html>
<head><h1 align="center">Week 2</h1>

  <div class="returnhome">
    <a href="index.html"> <h3 align="center">Home</a></div>
<link href ="main.css" rel="stylesheet" type="text/css"/>

</head>

<body>
<body background="imgs/tma-chalkboard.jpg">


  <div class="week01">
<h3>Tech Blog</h3></p>
<p>

November 8, 2014</p>

End of Week 2 Blog, with tech note..
	<h5><p> Well, Here is my third blog, and the end of week 2 of DBC phase 0. So I will start off by saying, WOW!! Lots of learning this week. It was slightly more difficult this week. Mostly because we learned HTML, CSS, Wire-framing and more about websites in a week rather than a month. We also learned how to inspect and edit elements in our browser. The material was more rewarding this week. I feel more confident with computer now than I did last week. And now I can customize my unsuspecting friends web pages when they aren’t looking hahaha. For example, my friends YouTube page turned into a page about cats when he left to go to hockey practice. However this is useful because now I am able to look at websites and see how they make things so perfect. Like Apple, I love looking at the code on that site. Its perfect!! As it should be. 




</p>

  <br><p> This wee was also my first time paring with people. My first session was a guided paring session. I was a little nervous that I was not going to have anything to contribute to the session. But my partner and guide were both very nice. Not to mention we were able to be open and tell each other what we did not know. And we simply would google the question we had, and move along. We accomplished the task, perfectly I might add, and spent some time helping each other with other tasks. We then spent a little time just getting to know each other. It is awesome to be going through this experience with amazing people. Everyone that I have met have been just the most friendly, and rewarding people to meet. 




</p>

  <br><p> I researched the difference between margin border and padding because I was a little unclear. It turns out to be rather simple. Margin is just that, a margin around the idem you are working with. It is transparent and the out most layer. It prevents overlapping of other items. Border is visible, based on your settings. You can choose color and type of line. It sits inside the margin and wraps the padding/content. Which brings us to padding. Padding is the clear space, or colored space, in-between the content and the border. This keeps the content from touching the border. And the last layer is content. Which is the content, no explanation needed there? 





</p>

  <br> <p> So to wrap up my second week, It was harder yet more rewarding. I did run later on these projects that I would have liked to have. But I needed the extra time to make sure I am getting these concepts 100%. I have much to learn, and a long way to go. But with 2 weeks down, I already know more about the internet and computers than most of my friends. And lets not forget, I am totally new to all this. So way to go ME! And shout out to one to the greatest decisions of my life so far DBC, for giving me the means for knowledge beyond my own expectations. Its week 2, and I feel great!






</p>


  <br> <p>

Take care everyone!


</p>


  <p align="center">
  <br>  Cheers

  <br> Keenan Sturtevant
.</p></h3></div>





	







</body>






</html>