<!DOCTYPE html>
<html>
<head><h1><!— WEEK HERE—></h1>

  <div class="returnhome">
    <a href="index.html"> <h3 align=center>Home</a></div>
<link href ="main.css" rel="stylesheet" type="text/css"/>

</head>

<body>

<body background="imgs/tma-chalkboard.jpg">

 <div class="week01">
<h3> Technical Blog </h3></p>
<p>

November 16, 2014</p>

Tech Blog
	<h5><p> Arrays and Hashes. Different and the same. Both make life much easier for the coder. And both make inputing information easier by the bulk. But how they gather and display information is very different. Different methods of writing each, and calling each. They store information differently and present information differently. 



</p>

  <br><p> Arrays are just that, an Array. The arrays are like baskets that you can fill up. So instead of saying "I have 3 apples, 2 blankets, and passionfruite juice". You could instead say, I have a picnic. The picnic would be the array and it contains 3 apples 2 blankets and passionfruite juice. This is helpful in the code world in that I could say I have (an array) "Halo Guns" which contains all the guns from Halo, rather than saying them all out.



</p>

  <br><p> Now a hash is different, Hash is better thought of as an assignment tool. Imagine the last time you were at the DMV. You had to write out your name and other information a million times! Well not really, but in codeing big projects you might get close to it. So instead you create a hash. These are like arrays but instad of being a basket of stuff, its Garage with labled boxes. The garage (hash) could be called, Candy. And each box inside could be called different names like "sour, gummy, hot, ect." and in those boxes would be the candy like sour gummy worms or gummy bears. With a hash you can call specific elemants rather than the whole. 




</p>

  <br> <p> Hashes and arrays, dont be afraid of them. They can't hurt you......





</p>


  <br> <p> badly at least muhahahahahaha!




</p>


  <p align="center">
  <br>  Cheers

  <br> Keenan Sturtevant
.</p></h3></div>





	


<div class="week02">
<h3> Cultural Blog</h3></p>
<p>

November 16, 2014</p>

<div class="week02">Cultural Blog
  <h5><p>Before I started Phase 0, I had a couple tasks to do. This way I had the tools to be successful in Phase 0. One of these tasks was to find out what kind of a learner I am. I am a Kinesthetic Learner. Kinesthetic Learning (also known as Tactile Learning) is a learning style in which learning takes place by the student carrying out a physical activity, rather than listening to a lecture or watching a demonstration. People with a preference for kinesthetic learning are also commonly known to be more hands on. Kinesthetic learners make up about five percent of the population. So I am pretty rare haha!


</p>

  <br><p> I have always known this about me, from cars to music. I am totally self taught in everything. Infact I can listen to a song, and play it back for you on an instrument (with one or two tries). I also learned how to work on and mod cars, by myself with trial and error. So I know how I learn, and I love learning this way. I need to be hands on and feel what I am doing at any time. This lets me experiment a little and see what happens if I push one way v.s. the other. I also know that I can learn with out any instruction at all. If I have the time to do so, I can sit down with something (like my guitar) and totally teach myself just by experimenting with it. 



</p>

  <br><p> This is an advantage I think for me as far as DBC goes, actually its an advantage for me as far as a career goes. I can use my learning ability to my advantage. Standing out as a leader and the guy you can count on to finish a job, and to do it the best! So all of this code that I am learning, so long as I can try it myself, I will understand it fully. Which brings me to my second advantage. I know that I also have a growth mindset. Which means I never stop learning. I can never, ever, know everything about anything. And because of this I really listen to whats going on. And I adapt my methods to suit the task at hand.




</p>

  <br> <p> I am bragging I know, and I will try not to. But truth is, being a Kinestheic learner with a growth mindset I have the advantage. And I plan to use it everyday of my life. I will never feel that I know enough about something, and I don't need people to hold my hands to do work. I can be self teaching, or I can teach others. And I wouldnt have it any other way.

</p>


  <br> <p> DBC look out, here I come. And I plan on you guys remembering me! 




</p>


  <p align="center">
  <br>  Cheers

  <br> Keenan Sturtevant
.</p></h3></div>





  






</body>






</html>