<!DOCTYPE html>
<html>
<head><h1 align="center">Week 5 Blogs</h3>

  <div class="returnhome">
    <a href="index.html"> <h3 align="center"><font-family: Georgia, Serif;>Return Home</a></div>
<link href ="main.css" rel="stylesheet" type="text/css"/>

</head>

<body>
<body background="imgs/tma-chalkboard.jpg">


<div class="week01">
<h3>Technical Blog</h3></p>
<p>

 December 6, 2014</p>

Week 6, the first Blog
	<p> What are class methods?</p>

  <br><p> Well first off, class methods are methods that are called on a class and instance methods are methods that are called on an instance of a class. So the class method will call the actual deal. And the instance will just call the "instance of" the deal. </p>

  <br><p> For example, if we call my mustang a class. And its class method is to race. When we call mustang.race it will race. Make sense? Where as before we were calling mustang, and making code to have it go around a track faster than any other cars. This makes refactoring easier because less code lines are needed to write methods. If the methods are nested within their own classes, we can call classes and have the code run automatically.</p>

  <br> <p> Classes are the basic template from which object instances are created. A class is made up of a collection of variables representing internal state and methods providing behaviours that operate on that state. And class methods are declared the same way as normal methods, except that they are prefixed by self, or the class name, followed by a period. These methods are executed at the Class level and may be called without an object instance. They cannot access instance variables but do have access to class variables.</p>


  <br> <p> </p>


  <p align="center">
  <br>  Cheers

  <br> Keenan Sturtevant
.</p></h3></div>




<div class="week02">
<p>
	<h3>Cultural Blog</h3>


<p>December 7, 2014</p>
<div class="week02">Week 6 Blog 2
	<br>Stereotype Threat.
<p> Before wanting to write the apps that will change the world and take care of my family, I wanted to be a Police Officer. And I went through lots of schooling and academys for it. I know what being a Police Officer takes. And the most important tool they have and use is commen sense. Part of this commen sense includes Stereotyping people. We were taught to Stereotype cars, for example if we are in a rich part of town and some junker is parked somewhere random we would investigate. Then we stereotype the person who owns or drives the car. If they do not dress like the towns average, or if they just seem to be out of place, we will look for a reason to conduct a traffic stop. That doesn't always mean a ticket, but its how we can look into people legally. Most of the time we were right with our stereotypes.</p>

<p> Now does that mean stereotypes exist? In my mind yes they do, and I welcome the knowledge of which stereotype I fall in to. This way if I dont like it I can Make a change. So when people say they dont like their stereotype, I just tell them to make a change. Now Stereotype Threat is a big problem in the politically correct world that we live in now. Lots of people look at stereotypes wrong. For example, just because I own a 500+hp mustang does not make me an dangerous driver with a heavy right foot. No, however if you look at the burnt rubber on the fenderwalls and see how my tires are used up more in the back.... Now that is a good reason to be suspicious. If you look at my friend who has a lifted jeep, with whinches and all, you can assume he off roads. But if you look closely at his under carrage and in the tread of his tires, they are spotless. Because he does not off road. </p>

<p> The point I am making is this: if you are going to stereotype, for your own protection mind you. Not to get at people. Be sure to stereotype correctly, look deeper than whats on the surface. </p>


	

 <p align="center">
  <br>  Cheers

  <br> Keenan Sturtevant
.</p></h3></div>





</body>






</html>