<!DOCTYPE html>
<html>
<head><h1> Week 7 </h1>

  <div class="returnhome">
    <a href="index.html"> <font-family: Georgia, Serif;>Home</a></div>
<link href ="main.css" rel="stylesheet" type="text/css"/>

</head>

<body>

<body background="imgs/tma-chalkboard.jpg">

 <div class="week01"
<h3> Tech Blog</h3></p>
<p>

Dec 13, 2014</p>

<div class=“week01”>Javascript vs ruby
	<h5><p>  First off they are fairly alike. If you try hard enough I think you can figure it out just fine. Some things are noted differently like the == sign. In JavaScript, the triple equals sign helps determine if two objects are the same exact object. And the var in JS looks a lot like hashes in ruby. But both really seem to be very alike. I still have much more to learn about them both, however, but here is what I have found.


</p>

  <br><p> Both Ruby and JavaScript have Arrays, which are more of less logically the same; however, the Object Array functions (JavaScript) and the Class Array methods (Ruby) have different syntax. For example, to find the index of an element in an array, in JavaScript you write arrayName.indexOf("element");. In Ruby, this is accomplished by array_name.index("element")



</p>

  <br><p> Objects (similar to Ruby’s hash), declared as variables, are a way of organizing key/value pairs. For example, var cat = {color: "grey", name: "Spot", age: "12"}; To access the value of an associated key, you can call that on the variable name: cat.name returns "Spot". You can also easily delete a key/value pair by writing delete cat.name. To declare a new key/value pair, write: cat.gender = "male";. This appends this new data point to the end of the Object.




</p>

  <br> <p> So they both have slight differences. But I feel like its not so scary and should be mastered by all of those who wish to code.





</p>


  <br> <p>




</p>


  <p align="center">
  <br>  Cheers

  <br> Keenan Sturtevant
.</p></h3></div>
</head>
</div>




  <div class="returnhome">
    <a href="index.html"> <font-family: Georgia, Serif;>Home</a></div>
<link href ="main.css" rel="stylesheet" type="text/css"/>





<div class="week02">
<h3> Culture Blog</h3></p>
<p>

December 13, 2014</p>

<div class=“week01”><!—Sub Heading—>
  <h5><p>  



</p>

  <br><p>
Accomplishment    3   | Accountability   4   | Achievement   3
Activism       3      | Adventure      2      | Affection   3
Ambition       3     | Autonomy       2      | Challenge    4
Close relationships    3 | Commitment       4    | Community    3
Compassion      3     | Competence     3      | Competition    2
Confidence      4     | Conformity      4     | Control    4
Coolness under fire    5  | Cooperation      5    | Courage     5
Creativity      5     | Credibility      5    | Decisiveness     4
Economic security    3      | Effectiveness     4    | Efficiency      4
Enthusiasm       5    | Environmentalism   3    | Excellence     5
Excitement     3      | Fairness      3       | Faith     3
Fame          2       | Free time      2      | Freedom     5
Friendships     3     | Growth          4     | Having a family 4
Health           5    | Helping others    5   | Helping society 5
Honesty       5       | Hospitality       5   | Independence  4
Influence       4     | Inner harmony     4   | Insight 4
Inspiration      5    | Integrity       5     | Intellectual status 3
Introspection      3  | Justice          5    | Knowledge 4
Leadership     5      | Location       2      | Loyalty 5
Meaningful work     3   | Mentorship      3     | Merit 3
Money       1         | Movement      3       | Music 5
Nature        4       | Openness     4        | Order 4
Patriotism      5     | Peace          4      | Persistence 5
Personal development     4  | Physical challenge  2 | Pleasure  3
Power and authority    3   | Privacy        4      | Public service 4
Purity       4        | Quality          5    | Recognition 3
Reputation       4    | Responsibility  5     | Romance 3
Security      4       | Self-knowledge    4   | Self-reliance 4
Self-respect    5     | Serenity       4      | Sophistication  2
Spirituality     3    | Stability    5        | Status  3
Tranquility      4    | Truth      5          | Vibrancy  4
Volunteering    5     | Wealth        2       | Will-power  5
Wisdom    5       



</p>

  <br><p>  Honesty, its a very tricky word. I believe firmly that we are taught from day one to lie. For example, “How was my cooking?” asks your girl friend. “GREAT” you reply as you are throwing it away. Or how great is this new shirt, and we always say good. Or how do you feel, and if you feel bad you simply say fine. Its so strange how we are not allowed in society to state the truth if it is going to hurt someones feeling. But that is the way it is. So I try to be honest all the time. And sometimes it gets me into trouble. But mostly people tend to respect me for it. They know I am not BSing them at all.




</p>

  <br> <p> I give advice all the time to my friends. They always come to me for help. Even people at work. I am, for some reason, much wiser than my age should let me be. So I give advice all the time. The last big advice I gave was to a friend who got caught with some weed in his room. And I told him “I do not hang out with druggies.” then I hung up the phone on him. And this guy is one of my best friends. He got the message and has since quit.





</p>


  <br> <p> I have a very unique situation with my whole life. On one hand my health is a little bit of a challenge and I am overcoming it right now. And on the other my grandparents are millionaires and I get to live that lifestyle when my parents are not. I have also moves all over the US. And lived in many different areas and I know how to deal with many different people. So for me when I am getting down, I look down. And I see where I stand. It is never as bad as it could be.




</p>


  <p align="center">
  <br>  Cheers

  <br> Keenan Sturtevant
.</p></h3></div>





  




</div>


</body>






</html>
