<!DOCTYPE html>
<html>
<head><h1 align="center">Week 4 Blogs</h3>

  <div class="returnhome">
    <a href="index.html"> <h3 align="center"><font-family: Georgia, Serif;>Return Home</a></div>
<link href ="main.css" rel="stylesheet" type="text/css"/>

</head>

<body>
<body background="imgs/tma-chalkboard.jpg">


<div class="week01">
<h3>Technical Blog</h3></p>
<p>

 November 23, 2014</p>

Week 4, the first Blog
	<p> Enumerable Map</p>

  <br><p> The Enumerable mixin provides collection classes with several traversal and searching methods, and with the ability to sort. The class must provide a method each, which yields successive members of the collection. If Enumerable#max, #min, or #sort is used, the objects in the collection must also implement a meaningful <=> operator, as these methods rely on an ordering between members of the collection.</p>

  <br><p> Enumerable map returns the results of a running block once for every element in the enumerator. This is useful when you need to write code to modify everything one time. Maps is the way to go.</p>

  <br> <p> Enumerable gives you lots of useful ways of doing something to every element of a collection object (an array or hash, for instance), which is a very common thing to do when you're building programs and websites. </p>


  <br> <p> </p>


  <p align="center">
  <br>  Cheers

  <br> Keenan Sturtevant
.</p></h3></div>




<div class="week02">
<p>
	<h3>Cultural Blog</h3>


<p>November 23, 2014</p>
<div class="week02">Week 4 Blog 2<br>Tech Industry Problems
<p> Supply on demand is a term used often in the business our family owns. We created the "chain link" system that many new companys use. And a big problem with tech industries is that, the supply or demand is not right. Some places the supply is to great, and sites (or apps) crash and cannot work well. Then the demand for your product goes down. Or maybe demand was too high and supply couldnt keep up. Supply and Demand needs to be balanced perfectly and I feel it isn't so balanced in the tech world. yet....</p>

<p> Facebook is a great example of this, when they had great demand and the supply to go with it they ruled. Facebood is valued at 200 billion dollars. So they know what is going on, however in recent years they have been struggling. This is because they supply is there. But the demand is not. If Facebook wants to get back on top. It needs to create demand again. If it doesnt, I fear that the company may tank.</p>

<p> This is a problem with many tech companies. And it is hard to gauge how big your app will be. So its hard to determine how much supply you will need to keep up with the unknown amount of demand you will get. I have an Idea of how to fix this, but thats going to be another blog, another day.</p>


	

 <p align="center">
  <br>  Cheers

  <br> Keenan Sturtevant
.</p></h3></div>





</body>






</html>