<!DOCTYPE html>
<html>
<head><h1 align="center">Week 5 Blogs</h3>

  <div class="returnhome">
    <a href="index.html"> <h3 align="center"><font-family: Georgia, Serif;>Return Home</a></div>
<link href ="main.css" rel="stylesheet" type="text/css"/>

</head>

<body>

<body background="imgs/tma-chalkboard.jpg">

<div class="week01">
<h3>Technical Blog</h3></p>
<p>

 November 29, 2014</p>

Week 4, the first Blog
	<p> What are classes?</p>

  <br><p> Because Ruby is a Object Oriented Programming Language, we use classes to define objects and methods.Lets start the example with an example shall we. 

<br>
class Mustang
<br> end
<br>
<br> this is an example of an empty class. I named it mustang because I have a mustang (car) and it is what popped into my head as an example. Inside of this class Mustang we can write the codes for Mustang. This way when we call Mustang as a class it will run the code inside of it. So lets say we code in that this class Mustang has code inside that is equal to four seats, 5 gears, steering wheel, brakes and a 530 hp engine (plus all the other car stuff). And when we call the class Mustang the code runs and we get a 530hp 4 seater mustang. </p>

  <br><p> Now if we were to do things with it, like add a driver or owner, we could just callin the class and avoid re-writing the whole car again. We can also leave the Mustang with out an engine for example and when we call it, we can add paint and an engine. For example:

<br>black_v8_530hp = Mustang.new
<br>
<br>And then we add the info we need.
<br>
<br>silver_v6_305hp = Mustang.new
<br>
<br>And now we change it because 530hp is too fast.</p>

  <br> <p> This is basically how classes work, with out getting into the dirty nasty scary code words. But if you wanted to read more click <a href="http://www.tutorialspoint.com/ruby/ruby_classes.htm"> here</a>. This has good information about classes that I used often to learn more about them. </p>


  <br> <p> </p>


  <p align="center">
  <br>  Cheers

  <br> Keenan Sturtevant
.</p></h3></div>




<div class="week02">
<p>
	<h3>Cultural Blog</h3>


<p>November 29, 2014</p>
<div class="week02">Week 5 Blog 2
	<br>Feed Back Response
<p> Well I love my feed back, I am glad everyone really enjoyed working with me. I would be lying if I said I was not worried. In a few paring sessions I felt that I was not up to par with what everyone else knew. So reading my feedback is nice. I agree with everything that was said.
<br>It was good working with you. You clearly have a good understanding of the concepts we have covered so far, you were good at keeping communication open and checking in when I would fall silent. I can't say I really have any feedback as to how you could improve as our session was fairly short and we worked on a fairly easy challenge so I'll just say keep up the communication. Hope to pair with you again
<br>I enjoyed pairing with you recently! You have a strong grasp of Ruby fundamentals and the CLI, and a kind and humble demeanor. I was put at ease by your openness and strong communication skills, which helped me function better throughout the session. You may have already addressed this since we ended up using hashes a fair amount this week, but it seems like you shy away from using hashes, but are very comfortable with arrays. I suspect that in the future we will have to use hashes with some frequency and perhaps you could familiarize yourself with them by implementing them when applicable in your code this week or next. Since you are already very comfortable with arrays, I bet you will master hashes easily. Overall, I think you are a great pair and very much on-track with our cohort. I look forward to pairing with you again or seeing you on-site!
<br>It was a good experience working you. I felt you were comfortable expressing your thoughts during the challenge. You helped me to understand some methods in exercise. I find that it might be helpful to define navigational and driver roles before starting on the exercise and sticking to our roles. At times, I felt rushed though the exercises because you had already done them previously. It would be beneficial to your pair if you made sure your partner fully understood the material before moving on.
<br>Good gps session. We worked well together. Good spirit , good work. Very open to suggestion , very calm and encouraging , liked it. The subject was kind of easy, i don't really have an actionnable advice to give you.
<br>You were very easy to get along with and you were able to come up with ideas when something wasn't working as planned. I could tell that you had a lot of enthusiasm with what you are doing in phase 0. It is always good to pair with someone who never slows down when you hit a roadblock. For the most part, I think you had the basic concepts of github down very well. I would just go back and review merge requests in github and working with conflicts to make you more confident in those situations in the future.
<br> 
<br>I am thrilled that this is my feedback!!</p>

<p> I plan to keep these reviews coming, to do that I am going to stay working hard and helping others as much as I can. I will do my best to not be ahead of others when we pair. </p>

<p> </p>


	

 <p align="center">
  <br>  Cheers

  <br> Keenan Sturtevant
.</p></h3></div>





</body>






</html>