/*==================== Layout ==========================*/
/** {
  border: 3px dashed black;
}*/
body {
  background: url("/imgs/background_2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.navbar{
  float: right;
  display: block;
  width: 35%;
  /*border: 2px dashed red;*/
}
.bottomcontainer{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  /*border: 2px dashed red;*/
}
.bottombar{
  margin-top: 8%;
  /*border: 2px dashed orange;*/
}
.top_title{
  width: 25%;
  margin-right: auto;
  margin-left: auto;
  margin-top: -10%;

  font-family: fantasy;

  /*border: 2px dashed orange;*/
}
#title{
  font-size: 30px;
  color: white;
  /*border: 3px dashed yellow;*/
}
#subtitle{
  font-size: 20px;
  color: silver;
  /*border: 3px dashed yellow;*/
}
#subtitlebright{
  font-size: 20px;
  color: white;
}
#whitetext{
  color: white;
  margin: 1%;
  text-align: center;
}
.american_flag{
  width: 35%;
  max-width: 200px;
  min-width: 150px;
  position: relative;

  /*border: 2px dashed blue;*/
}
#flag{
  width: 100%;
}




/*====================== Homepage ========================*/
.centertext{
  visibility: visible;
  background-color: rgb(100,100,100);
  background-color: rgba(10,10,10, 0.4);

  width: 67%;
  height: 450px;
  overflow: scroll;
  
  padding-right: 15px; 
  padding-left: 15px;
  padding-top: 18px;
  padding-bottom: 18px;

  margin-right: auto;
  margin-left: auto;
  margin-top: 4%;

  border-radius: 10px;
  border: 2px solid;
  border-color: rgba(10,10,10, 0.6);
}

.my_info{
  overflow: scroll;
  color: white;
  font-family: sans-serif;
  height: 90%;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  /*border: 2px dashed blue;*/
}

.left_column, .right_column{
  /*border: 3px dashed green;*/
  width: 12%;
  border-radius: 10px;
  margin: 1%;
  position: relative;
  height: 450px;
  overflow: scroll;
  margin-top: -480px;
  margin-bottom: 10%;
  background-color: rgb(10,10,10);
  background-color: rgba(10,10,10,0.4);
}

.right_column{
  margin-left: 87%;
  margin-top: -580px;
}
.myprojectsheader{
  text-align: center;
  border-radius: 10px;
  background-color: rgb(300,200,100);
  background-color: rgba(300,200,100,0.4);
}

.small_screen_projects_bar{
  /*border: 3px solid green;*/
  height: 75px;
  width: 90%;
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
  visibility: hidden;
}

/*================ Responsive Design Properties ===================*/
@media screen and (max-width: 700px) {
    .top_title{
      margin-top: 1%;
    }
    .left_column, .right_column, .bottom_container, .bottombar{
      display: none;
    }
    .small_screen_projects_bar{
      visibility: visible;
    }

  }



@media screen and (max-width: 450px) {
  body {
    background: url("/imgs/universe-backgrounds1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .top_title, .bottombar, .left_column, .right_column{
    display: none;
  }
  .navbar{
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .american_flag, #flag{
    max-width: 200px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .small_screen_projects_bar{
    visibility: visible;
  }
}
/*========================================================*/

/* unvisited link */
a:link {
    color: #FF0000;
}

/* visited link */
a:visited {
    color: #00FF00;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #0000FF;
}


