<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="yourpath/magic.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

  <div class= "navbar">
    <ul class="nav_right" align="center">
      
       <a href="/home" class="return_home"> <img src="imgs/home_button.jpg" width="50">
        </a>
      
       <a href="/blogs" class="go_basics"> <img src="imgs/blog_icon.jpg" width="50">
       </a>
      
       <a href="/cheat" class="go_basics"> <img src="imgs/cheat-clipart-cheats-md.jpg" width="50">
       </a>
      
       <a href="/contacts" class="go_basics"> <img src="imgs/contactme_logo_c_1600.jpg" width="100">
      </a>
    </ul>
  </div>

  <div class="american_flag">
    <img id="flag" src="/imgs/American_Flag.png" width="250">
  </div>
  <%= yield %>
</body>
</html>
